@charset 'utf-8';
@import 'common.css';
body, div {margin:0; padding:0}
body {font-family:"맑은 고딕", sans-serif, arial, sans; font-size:20px; color:#000; width:100%; height:100%}
.clearfix:after {content:""; clear:both; display:block;}

/* layout Set */
.wrap{
	width:1024px;
	margin:0 auto;
}
.bg-color {
	background-color:#ededed;
	margin-bottom:-170px;
	padding-bottom:250px;
	min-height:100%;
}
.header{
	width:100%;
	height:80px;
	background-color:#fff;
	border-bottom:3px solid #f57115;
	position:fixed;
	top:0;
	z-index:3; !important;
}
.container1{
	width:100%
}
.footer{
	width:100%;
	height:170px;
	background-color:#7c7c7c;
	position:relative;
	z-index:1;
	
}
/*  header Set */
.header h1{
	text-indent:-9999px;
	background:url('../image/logo.png') 0 0 no-repeat;
	width:213px;
	height:74px;
	margin:0 30px 0 30px;
	padding:0;
}
.header h1 a{
	display:block;

}
.header .lnb{
	width:400px;
	color:#666;
}
.header .lnb div {
	width:33.3%;
	text-align:center;
	line-height:77px;
	font-size:12pt;
	border-right:1px solid #ededed;
}
.header .lnb div:first-child {
	border-left:1px solid #ededed;
}

.header .lnb div:hover{
	background-color:#f57115;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
}
.header .menubar1 .submenu a{
	color: #f57115;
	display: block;
}
.header .menubar1 .submenu a:hover{
	/* background-color: #f57115; */
	color: #000;
	text-decoration: none;	
}
.header .menubar1:hover .submenu{
	display: block;
	background-color: transparent;
	height: 150px;
}
.header .menubar1 ul li{
	height: 40px;
	font-size: 14pt;
}
.submenu{
	display: none;
	position: absolute;
	height: 0px;
	transition: height .2s ease;
}
/* container1 Set */
.container .first-line{
	width:100%;
	height:50px;
	border:2px solid #f57115;
	border-radius:30px;	
	margin-top:30px;
	margin-bottom:10px;
}
.container .first-line .select-local {
	float:left;
	border-left:2px solid #f57115;
	height:48px;
	color:#a5a5a5;@charset 'utf-8';
@import 'common.css';
body, div {margin:0; padding:0}
body {font-family:"맑은 고딕", sans-serif, arial, sans; font-size:20px; color:#000; width:100%; height:100%}
.clearfix:after {content:""; clear:both; display:block;}

/* layout Set */
.wrap{
	width:1024px;
	margin:0 auto;
}
.bg-color {
	background-color:#ededed;
	margin-bottom:-170px;
	padding-bottom:250px;
	min-height:100%;
}
.header{
	width:100%;
	height:80px;
	background-color:#fff;
	border-bottom:3px solid #f57115;
	position:fixed;
	top:0;
	z-index:3; !important;
}
.container1{
	width:100%
}
.footer{
	width:100%;
	height:170px;
	background-color:#7c7c7c;
	position:relative;
	z-index:1;
	
}
/*  header Set */
.header h1{
	text-indent:-9999px;
	background:url('../image/logo.png') 0 0 no-repeat;
	width:213px;
	height:74px;
	margin:0 30px 0 30px;
	padding:0;
}
.header h1 a{
	display:block;

}
.header .lnb{
	width:400px;
	color:#666;
}
.header .lnb div {
	width:33.3%;
	text-align:center;
	line-height:77px;
	font-size:12pt;
	border-right:1px solid #ededed;
}
.header .lnb div:first-child {
	border-left:1px solid #ededed;
}

.header .lnb div:hover{
	background-color:#f57115;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
}
.header .menubar1 .submenu a{
	color: #f57115;
	display: block;
}
.header .menubar1 .submenu a:hover{
	/* background-color: #f57115; */
	color: #000;
	text-decoration: none;	
}
.header .menubar1:hover .submenu{
	display: block;
	background-color: transparent;
	height: 150px;
}
.header .menubar1 ul li{
	height: 40px;
	font-size: 14pt;
}
.submenu{
	display: none;
	position: absolute;
	height: 0px;
	transition: height .2s ease;
}
/* container1 Set */
.container .first-line{
	width:100%;
	height:50px;
	border:2px solid #f57115;
	border-radius:30px;	
	margin-top:30px;
	margin-bottom:10px;
}
.container .first-line .select-local {
	float:left;
	border-left:2px solid rgba(245, 113, 21, 0.26);
	height:48px;
	color:#a5a5a5;
	font-size:14pt;
	font-weight:bold;
}
.container .first-line .select-local:hover{
	color:#f57115;
}
.container .first-line .select-local:first-child{
	border-left:none;
}
.container .first-line .select-local select,
.container .first-line .select-local button{
	width:100%;
	height:40px;
	margin-top:3px;
	border:none;
	background-color:#FFF;
}
<!-- -->

.container .seconde-line {
	background-color:#f57115;
	height:40px;
	margin-bottom:30px;
	border:1px solid #ef501a;
	border-radius:4px;
	/*box-shadow:*/
}
.container .seconde-line .col-lg-2-5{
	text-align:center;
	line-height:38px;
}
.container .seconde-line .col-lg-2-5 a{
	color:#fff;
	display:block;
	text-decoration:none;
}
.container .seconde-line .col-lg-2-5 button{
	width:100%;
	height:40px;
	margin-top:-1px;
	
	background-color:#f57115;
	border:1px solid #ef501a;
	border-left:none;
	border-right:none;
	color: #fff;
}
.container .seconde-line .col-lg-2-5 button:hover{
	color:#ef501a;
	background-color:#ededed;
	font-weight:bold;
}
.container .seconde-line .col-lg-2-5 a:hover{
	color:#ef501a;
	background-color:#ededed;
	font-weight:bold;
	
}
<!-- 수정중... -->
.container .first-line .col-lg-2-5 a{
	color:#fff;
	display:block;
	text-decoration:none;

}
.col-me {
		padding-top:13px;
		padding-left: 76px;
	}

.container .first-line .col-lg-2-5 a:hover{
	color:#ef501a;
	
	font-weight:bold;
	text-decoration:none;
}
.container .photo-link .col-lg-6 {
	color:#fff;
	position:relative;
	margin-bottom:20px;
}
.container .photo-link .col-lg-6 img {
	width:500px;
	height:300px;
	cursor:pointer;
}

.container .photo-link .col-lg-6:after{
	content:"";
	clear:both;
	display:block;
	width:498px;
	height:80px;
	background-color:#000;
	opacity:0.7;
	margin:-80px auto 0 auto;
	border-radius: 0 0 5px 5px;
}

.textbar1 {
	padding-top: 10px;
}
.textbar1 a:hover {
	text-decoration:none;
}
.textbar1 .textbar2 {
	position: relative;
    text-align: center;
}
.textbar2 .textbar2-1 {
	height: 47px;
    width: 590px;
    border: none;
    font-size: 15pt;
}
.textbar2 .textbtn1 {
    position: relative;
    left: -5%;
    height: 45px;
    width: 80px;
    background-color: bisque;
    border: none;
    border-radius: 40px;
    font-size: 13pt;
    font-weight: bold;
    /* font-family: cursive; */
    color: rgba(44, 162, 98, 0.88);
}


.container .photo-link .col-lg-6 p.naming{
	position:absolute;
	bottom:25px;
	width:500px;
	text-align:center;
	margin:0 !important;
	color:#fff;
	z-index:2;
	font-size:15pt;
}

.container .photo-link .col-lg-6 .aared{
	
	position:absolute;
	margin:0;
	width:40px;
	height:40px;
	bottom:250px;
	z-index:2;
	background:rgba(255, 0, 0, 0.7);
	border-radius:20px;
	left:40px;

}

.container .photo-link .col-lg-6 .aagreen{
	
	position:absolute;
	margin:0;
	width:40px;
	height:40px;
	bottom:250px;
	z-index:2;
	background:rgba(255, 255, 100, 0.8);
	border-radius:20px;
	left:40px;

}
.container .photo-link .col-lg-6 .aablue{
	
	position:absolute;
	margin:0;
	width:40px;
	height:40px;
	bottom:250px;
	z-index:2;
	background:rgba(30, 150, 100, 0.8);
	border-radius:20px;
	left:40px;

}

.container .photo-link .col-lg-6 .score1 img{
	
	position:relative;
	margin:0;
	width:20px;
	height:20px;
	bottom:-250px;
	z-index:2;
	left:20px;
	
	
	
}
.container .col-lg-6-1 {
	color:#fff;
	position:relative;
	margin-bottom:20px;
	margin-top:20px;
	
}
.container .col-lg-6-1 img {
	width:1150px;
	height:300px;
	cursor:pointer;
}
.container .col-lg-6-1:after{
	content:"";
	clear:both;
	display:block;
	width:1150px;
	height:80px;
	background-color:#000;
	opacity:0.7;
	margin:-80px auto 0 auto;
	border-radius: 0 0 5px 5px;
}
.container .col-lg-6-1 p.naming{
	position:absolute;
	bottom:20px;
	width:1150px;
	text-align:center;
	margin:0 !important;
	color:#fff;
	z-index:1;
	font-size:20pt;
}
.container .photo-link .col-lg-6-2 {
	color:#fff;
	position:relative;
	left:20px;
	margin-bottom:20px;
	margin-right:30px;
	margin-left:px;
	float:left;
}
.container .photo-link .col-lg-6-2 img {
	width:340px;
	height:300px;
	cursor:pointer;
}
.container .photo-link .col-lg-6-2:after{
	content:"";
	clear:both;
	display:block;
	width:338px;
	height:80px;
	background-color:#000;
	opacity:0.7;
	margin:-180px auto 0 auto;
	border-radius: 0 0 5px 5px;
}
.container .photo-link .col-lg-6-2 p.naming{
	position:absolute;
	bottom:25px;
	width:300px;
	text-align:center;
	margin:0 0 0 25px;!important;
	color:#fff;
	z-index:1;
	font-size:20pt;
}
.container .photo-link .col-lg-6-3 {
	color:#fff;
	position:relative;
	left:20px;
	margin-top:150px;
	margin-bottom:20px;
	margin-right:30px;
	margin-left:px;
	float:left;
}
.container .photo-link .col-lg-6-3 img {
	width:710px;
	height:300px;
	cursor:pointer;
}

.container .photo-link .col-lg-6-3:after{
	content:"";
	clear:both;
	display:block;
	width:708px;
	height:80px;
	background-color:#000;
	opacity:0.7;
	margin:-180px auto 0 auto;
	border-radius: 0 0 5px 5px;
}
.container .photo-link .col-lg-6-3 p.naming{
	position:absolute;
	bottom:25px;
	width:300px;
	text-align:center;
	margin:0 0 0 210px;!important;
	color:#fff;
	z-index:1;
	font-size:20pt;
}
.container .photo-link .col-lg-6-4 {
	color:#fff;
	position:relative;
	left:20px;
	margin-top:150px;
	margin-bottom:20px;
	margin-right:30px;
	margin-left:px;
	float:left;
}
.container .photo-link .col-lg-6-4 img {
	width:340px;
	height:300px;
	cursor:pointer;
}
.container .photo-link .col-lg-6-4:after{
	content:"";
	clear:both;
	display:block;
	width:338px;
	height:80px;
	background-color:#000;
	opacity:0.7;
	margin:-180px auto 0 auto;
	border-radius: 0 0 5px 5px;
}
.container .photo-link .col-lg-6-4 p.naming{
	position:absolute;
	bottom:25px;
	width:300px;
	text-align:center;
	margin:0 0 0 25px;!important;
	color:#fff;
	z-index:1;
	font-size:20pt;
}
.container .photo-link .col-lg-6-5 {
	color:#fff;
	position:relative;
	left:20px;
	margin-top:150px;
	margin-bottom:20px;
	margin-right:30px;
	margin-left:px;
	float:left;
}
.container .photo-link .col-lg-6-5 img {
	width:340px;
	height:300px;
	cursor:pointer;
}
.container .photo-link .col-lg-6-5:after{
	content:"";
	clear:both;
	display:block;
	width:338px;
	height:80px;
	background-color:#000;
	opacity:0.7;
	margin:-180px auto 0 auto;
	border-radius: 0 0 5px 5px;
}
.container .photo-link .col-lg-6-5 p.naming{
	position:absolute;
	bottom:25px;
	width:300px;
	text-align:center;
	margin:0 0 0 25px;!important;
	color:#fff;
	z-index:1;
	font-size:20pt;
}
.container .first-line-400 .cover-pic{
	border-radius:30px;
	height: 315px;
	width: 1105px;
	margin-top: 10px;
	/*border: 1px solid red;*/
	/* background-image:url('../image/cover.jpg');  */
	background-repeat:no-repeat; 
	background-size:100% 100%
}
.container .first-line-400 .profile-pic{
	width: 180px;
	height: 180px;
	border-radius:30px;
	position: absolute;
	left: 50px;
	top: 140px;
	/*border: 1px solid blue;*/
	/* background-image:url('../image/profile.jpg');  */
	background-repeat:no-repeat; 
	background-size:100% 100%
}
.container .name-div{
	width: 200px;
	height: 40px;
	/* position: absolute;
	left: 100px;
	top: 400px */;
	font-size: 30pt;
	margin-tip : 30px;
	display:none;
	/*border: 1px solid black;*/
}
.container .pic-change-btns{
	width: 500px;
	float: right;
	/* margin-top: 20px; */
}
.container .pic-change-btns .button{
	background-color: #f57115;
	border: none;
	color: white;
	font-size: 16pt;
	width: 220px;
	text-align: center;
	display: inline-block;
	transition-duration: 0.2s;
	text-decoration: none;
	cursor: pointer;
	border-radius:10px;
	padding: 12px 28px;
}
.container .pic-change-btns .button a:link{
	text-decoration:none;
	color: #fff;
}
.container .pic-change-btns .button a:visited{
	text-decoration:none;
	color: #fff;
}
.container .pic-change-btns .button a:active{
	text-decoration:none;
	color: #000;
}
.container .pic-change-btns .button:hover a{
	text-decoration:none;
	color: #000;
}
.container .pic-change-btns .button a{
	font-size: 16pt;
	text-decoration:none; 
	color:#fff;
	font-weight: bold;
}
.container .pic-change-btns .button:hover{
	background-color: white;
	font-size: 12pt;
	color: black;
	border : 2px solid #f57115;
	border-radius:10px;	
}
.container .first-line-400 .name-div{
	font-size: 20pt;
}
.container .first-line-my{
	width: 100%;
    height: 50px;
    border: 2px solid #f57115;
    border-radius: 30px;
    margin-top: 90px;
    margin-bottom: 30px;
}
.container .first-line-btns{
	width:100%;
	height:50px;
	/* border:2px solid #f57115;
	border-radius:30px;	 */
	margin-top:30px;
	margin-bottom:10px;
}
/* 부트스트랩 보조 클래스 */
.no-padder{
	padding:0 !important; 
}
.pt-80{
	padding-top:80px;
}
.wrapper {
	padding:30px;
}
@media (max-width: 740px) {
	.col-me {
	
		padding-left: 0px;
	}
}

@media (max-width: 1000px) {
	.col-me {
		padding-left: 0px;
	}
}

@media (max-width: 1200px) {
	.col-me {
		padding-left: 55px;
	}
	
	.container .photo-link .col-lg-6 {
		width:100%;
		margin:0 auto 20px auto;
	}
	.container .photo-link .col-lg-6 img {
		width:100%;
		height:400px;
		margin:auto;
	}
	.container .photo-link .col-lg-6 .score1 img{
		bottom:-350px;
	}
	.container .photo-link .col-lg-6:after{
		content:"";
		clear:both;
		display:block;
		width:100%;
		height:80px;
		background-color:#000;
		opacity:0.7;
		margin:-80px auto 0 auto;
		border-radius: 0 0 5px 5px;
	}
	.container .photo-link .col-lg-6 p.naming{
	position:absolute;
	bottom:25px;
	width:100%;
	text-align:center;
	margin:0 !important;
	color:#fff;
	z-index:1;
	font-size:15pt;
	}
	.container .photo-link .col-lg-6-2 {
		width:100%;
		margin:0 auto 20px auto;
	}
	.container .photo-link .col-lg-6-2 img {
		width:100%;
		height:400px;
		margin:auto;
	}
	.container .photo-link .col-lg-6-2:after{
		content:"";
		clear:both;
		display:block;
		width:100%;
		height:80px;
		background-color:#000;
		opacity:0.7;
		margin:-80px auto 0 auto;
		border-radius: 0 0 5px 5px;
	}
	.container .photo-link .col-lg-6-2 p.naming{
	position:absolute;
	bottom:25px;
	width:100%;
	text-align:center;
	margin:0 !important;
	color:#fff;
	z-index:1;
	font-size:15pt;
	}
	.container .photo-link .col-lg-6-3 {
		width:100%;
		margin:0 auto 20px auto;
	}
	.container .photo-link .col-lg-6-3 img {
		width:100%;
		height:400px;
		margin:auto;
	}
	.container .photo-link .col-lg-6-3:after{
		content:"";
		clear:both;
		display:block;
		width:100%;
		height:80px;
		background-color:#000;
		opacity:0.7;
		margin:-80px auto 0 auto;
		border-radius: 0 0 5px 5px;
	}
	.container .photo-link .col-lg-6-3 p.naming{
	position:absolute;
	bottom:25px;
	width:100%;
	text-align:center;
	margin:0 !important;
	color:#fff;
	z-index:1;
	font-size:15pt;
	}
	.container .photo-link .col-lg-6-5 {
		width:100%;
		margin:0 auto 20px auto;
	}
	.container .photo-link .col-lg-6-5 img {
		width:100%;
		height:400px;
		margin:auto;
	}
	.container .photo-link .col-lg-6-5:after{
		content:"";
		clear:both;
		display:block;
		width:100%;
		height:80px;
		background-color:#000;
		opacity:0.7;
		margin:-80px auto 0 auto;
		border-radius: 0 0 5px 5px;
	}
	.container .photo-link .col-lg-6-5 p.naming{
	position:absolute;
	bottom:25px;
	width:100%;
	text-align:center;
	margin:0 !important;
	color:#fff;
	z-index:1;
	font-size:15pt;
	}
	.container .col-lg-6-1 {
		width:100%;
		margin:0 auto 20px auto;
	}
	.container .col-lg-6-1 img {
		width:100%;
		height:400px;
		margin:auto;
	}
	.container .col-lg-6-1:after{
		content:"";
		clear:both;
		display:block;
		width:100%;
		height:80px;
		background-color:#000;
		opacity:0.7;
		margin:-80px auto 0 auto;
		border-radius: 0 0 5px 5px;
	}
	.container .col-lg-6-1 p.naming{
	position:absolute;
	bottom:25px;
	width:100%;
	text-align:center;
	margin:0 !important;
	color:#fff;
	z-index:1;
	font-size:15pt;
	}
	.container .pic-change-btns{
	width: auto;
	float: right;
	}
}

/* footer set */
.cs{
	float:left;
	margin-right:100px;
	position:relative;
	left:450px;
}
.cs li{
	color:#fff;
}
.cs2{
	width:700px;
	position:relative;
	left:550px;
	color:#fff;
}
/* noticeDetailView */
.bd{
	
}
	font-size:14pt;
	font-weight:bold;
}
.container .first-line .select-local:hover{
	color:#f57115;
}
.container .first-line .select-local:first-child{
	border-left:none;
}
.container .first-line .select-local select,
.container .first-line .select-local button{
	width:100%;
	height:40px;
	margin-top:3px;
	border:none;
	background-color:#FFF;
}
.container .seconde-line {
	background-color:#f57115;
	height:40px;
	margin-bottom:30px;
	border:1px solid #ef501a;
	border-radius:4px;
	/*box-shadow:*/
}
.container .seconde-line .col-lg-2-5{
	text-align:center;
	line-height:38px;
}
.container .seconde-line .col-lg-2-5 a{
	color:#fff;
	display:block;
	text-decoration:none;
}
.container .seconde-line .col-lg-2-5 button{
	width:100%;
	height:40px;
	margin-top:-1px;
	
	background-color:#f57115;
	border:1px solid #ef501a;
	border-left:none;
	border-right:none;
	color: #fff;
}
.container .seconde-line .col-lg-2-5 button:hover{
	color:#ef501a;
	background-color:#ededed;
	font-weight:bold;
}
.container .seconde-line .col-lg-2-5 a:hover{
	color:#ef501a;
	background-color:#ededed;
	font-weight:bold;
}
.container .photo-link .col-lg-6 {
	color:#fff;
	position:relative;
	margin-bottom:20px;
}
.container .photo-link .col-lg-6 img {
	width:500px;
	height:300px;
	cursor:pointer;
}

.container .photo-link .col-lg-6:after{
	content:"";
	clear:both;
	display:block;
	width:498px;
	height:80px;
	background-color:#000;
	opacity:0.7;
	margin:-80px auto 0 auto;
	border-radius: 0 0 5px 5px;
}

.textbar1 .textbar1-a {
	position: relative;
    left: 10%;
    /* transform-style: flat; */
    width: 90px;
    color: #a5a5a5;
    border: 2px solid rgb(252, 215, 189);
    border-radius: 50px;
    margin-left: 20px;
    padding: 5px;
    display: block;
    font-size: 18px;
    font-weight: 700;
    font-family: initial;
    background: rgba(245, 113, 21, 0.28);
}
.textbar1 a:hover {
	text-decoration:none;
}
.textbar1 .textbar2 {
	position: relative;
    bottom: 35px;
    left: 75%;
}
.textbar2 .textbar2-1 {}
.textbar2 .textbtn1 {
	position: relative;
    left: -3%;
}


.container .photo-link .col-lg-6 p.naming{
	position:absolute;
	bottom:25px;
	width:500px;
	text-align:center;
	margin:0 !important;
	color:#fff;
	z-index:2;
	font-size:15pt;
}

.container .photo-link .col-lg-6 .aared{
	
	position:absolute;
	margin:0;
	width:40px;
	height:40px;
	bottom:250px;
	z-index:2;
	background:rgba(255, 0, 0, 0.7);
	border-radius:20px;
	left:40px;

}

.container .photo-link .col-lg-6 .aagreen{
	
	position:absolute;
	margin:0;
	width:40px;
	height:40px;
	bottom:250px;
	z-index:2;
	background:rgba(255, 255, 100, 0.8);
	border-radius:20px;
	left:40px;

}
.container .photo-link .col-lg-6 .aablue{
	
	position:absolute;
	margin:0;
	width:40px;
	height:40px;
	bottom:250px;
	z-index:2;
	background:rgba(30, 150, 100, 0.8);
	border-radius:20px;
	left:40px;

}

.container .photo-link .col-lg-6 .score1 img{
	
	position:relative;
	margin:0;
	width:20px;
	height:20px;
	bottom:-250px;
	z-index:2;
	left:20px;
	
	
	
}
.container .col-lg-6-1 {
	color:#fff;
	position:relative;
	margin-bottom:20px;
	margin-top:20px;
	
}
.container .col-lg-6-1 img {
	width:1150px;
	height:300px;
	cursor:pointer;
}
.container .col-lg-6-1:after{
	content:"";
	clear:both;
	display:block;
	width:1150px;
	height:80px;
	background-color:#000;
	opacity:0.7;
	margin:-80px auto 0 auto;
	border-radius: 0 0 5px 5px;
}
.container .col-lg-6-1 p.naming{
	position:absolute;
	bottom:20px;
	width:1150px;
	text-align:center;
	margin:0 !important;
	color:#fff;
	z-index:1;
	font-size:20pt;
}
.container .photo-link .col-lg-6-2 {
	color:#fff;
	position:relative;
	left:20px;
	margin-bottom:20px;
	margin-right:30px;
	margin-left:px;
	float:left;
}
.container .photo-link .col-lg-6-2 img {
	width:340px;
	height:300px;
	cursor:pointer;
}
.container .photo-link .col-lg-6-2:after{
	content:"";
	clear:both;
	display:block;
	width:338px;
	height:80px;
	background-color:#000;
	opacity:0.7;
	margin:-180px auto 0 auto;
	border-radius: 0 0 5px 5px;
}
.container .photo-link .col-lg-6-2 p.naming{
	position:absolute;
	bottom:25px;
	width:300px;
	text-align:center;
	margin:0 0 0 25px;!important;
	color:#fff;
	z-index:1;
	font-size:20pt;
}
.container .photo-link .col-lg-6-3 {
	color:#fff;
	position:relative;
	left:20px;
	margin-top:150px;
	margin-bottom:20px;
	margin-right:30px;
	margin-left:px;
	float:left;
}
.container .photo-link .col-lg-6-3 img {
	width:710px;
	height:300px;
	cursor:pointer;
}

.container .photo-link .col-lg-6-3:after{
	content:"";
	clear:both;
	display:block;
	width:708px;
	height:80px;
	background-color:#000;
	opacity:0.7;
	margin:-180px auto 0 auto;
	border-radius: 0 0 5px 5px;
}
.container .photo-link .col-lg-6-3 p.naming{
	position:absolute;
	bottom:25px;
	width:300px;
	text-align:center;
	margin:0 0 0 210px;!important;
	color:#fff;
	z-index:1;
	font-size:20pt;
}
.container .photo-link .col-lg-6-4 {
	color:#fff;
	position:relative;
	left:20px;
	margin-top:150px;
	margin-bottom:20px;
	margin-right:30px;
	margin-left:px;
	float:left;
}
.container .photo-link .col-lg-6-4 img {
	width:340px;
	height:300px;
	cursor:pointer;
}
.container .photo-link .col-lg-6-4:after{
	content:"";
	clear:both;
	display:block;
	width:338px;
	height:80px;
	background-color:#000;
	opacity:0.7;
	margin:-180px auto 0 auto;
	border-radius: 0 0 5px 5px;
}
.container .photo-link .col-lg-6-4 p.naming{
	position:absolute;
	bottom:25px;
	width:300px;
	text-align:center;
	margin:0 0 0 25px;!important;
	color:#fff;
	z-index:1;
	font-size:20pt;
}
.container .photo-link .col-lg-6-5 {
	color:#fff;
	position:relative;
	left:20px;
	margin-top:150px;
	margin-bottom:20px;
	margin-right:30px;
	margin-left:px;
	float:left;
}
.container .photo-link .col-lg-6-5 img {
	width:340px;
	height:300px;
	cursor:pointer;
}
.container .photo-link .col-lg-6-5:after{
	content:"";
	clear:both;
	display:block;
	width:338px;
	height:80px;
	background-color:#000;
	opacity:0.7;
	margin:-180px auto 0 auto;
	border-radius: 0 0 5px 5px;
}
.container .photo-link .col-lg-6-5 p.naming{
	position:absolute;
	bottom:25px;
	width:300px;
	text-align:center;
	margin:0 0 0 25px;!important;
	color:#fff;
	z-index:1;
	font-size:20pt;
}
.container .first-line-400 .cover-pic{
	border-radius:30px;
	height: 315px;
	width: 1105px;
	margin-top: 10px;
	/*border: 1px solid red;*/
	/* background-image:url('../image/cover.jpg');  */
	background-repeat:no-repeat; 
	background-size:100% 100%
}
.container .first-line-400 .profile-pic{
	width: 180px;
	height: 180px;
	border-radius:30px;
	position: absolute;
	left: 50px;
	top: 140px;
	/*border: 1px solid blue;*/
	/* background-image:url('../image/profile.jpg');  */
	background-repeat:no-repeat; 
	background-size:100% 100%
}
.container .name-div{
	width: 200px;
	height: 40px;
	/* position: absolute;
	left: 100px;
	top: 400px */;
	font-size: 30pt;
	margin-tip : 30px;
	display:none;
	/*border: 1px solid black;*/
}
.container .pic-change-btns{
	width: 500px;
	float: right;
	
	/* margin-top: 20px; */
}
.container .pic-change-btns1{
	width: 500px;
	float: right;
	
	/* margin-top: 20px; */
}

.container .pic-change-btns .button{
	background-color: #f57115;
	border: none;
	color: white;
	font-size: 16pt;
	width: 220px;
	text-align: center;
	display: inline-block;
	transition-duration: 0.2s;
	text-decoration: none;
	cursor: pointer;
	border-radius:10px;
	padding: 12px 28px;
	
	
}

.container .pic-change-btns .button a:link{
	text-decoration:none;
	color: #fff;
}
.container .pic-change-btns .button a:visited{
	text-decoration:none;
	color: #fff;
}
.container .pic-change-btns .button a:active{
	text-decoration:none;
	color: #000;
}
.container .pic-change-btns .button:hover a{
	text-decoration:none;
	color: #000;
}
.container .pic-change-btns .button a{
	font-size: 16pt;
	text-decoration:none; 
	color:#fff;
	font-weight: bold;
}
.container .pic-change-btns .button:hover{
	background-color: white;
	font-size: 12pt;
	color: black;
	border : 2px solid #f57115;
	border-radius:10px;	
}

.container .first-line-400 .name-div{
	font-size: 20pt;
}
.container .first-line-my{
	width: 100%;
    height: 50px;
    border: 2px solid #f57115;
    border-radius: 30px;
    margin-top: 90px;
    margin-bottom: 30px;
}
.container .first-line-btns{
	width:100%;
	height:50px;
	/* border:2px solid #f57115;
	border-radius:30px;	 */
	margin-top:30px;
	margin-bottom:10px;
	
}

/* 부트스트랩 보조 클래스 */
.no-padder{
	padding:0 !important; 
}
.pt-80{
	padding-top:80px;
}
.wrapper {
	padding:30px;
}
@media (max-width: 1200px) {
	.container .photo-link .col-lg-6 {
		width:100%;
		margin:0 auto 20px auto;
	}
	.container .photo-link .col-lg-6 img {
		width:100%;
		height:400px;
		margin:auto;
	}
	.container .photo-link .col-lg-6 .score1 img{
		bottom:-350px;
	}
	.container .photo-link .col-lg-6:after{
		content:"";
		clear:both;
		display:block;
		width:100%;
		height:80px;
		background-color:#000;
		opacity:0.7;
		margin:-80px auto 0 auto;
		border-radius: 0 0 5px 5px;
	}
	.container .photo-link .col-lg-6 p.naming{
	position:absolute;
	bottom:25px;
	width:100%;
	text-align:center;
	margin:0 !important;
	color:#fff;
	z-index:1;
	font-size:15pt;
	}
	.container .photo-link .col-lg-6-2 {
		width:100%;
		margin:0 auto 20px auto;
	}
	.container .photo-link .col-lg-6-2 img {
		width:100%;
		height:400px;
		margin:auto;
	}
	.container .photo-link .col-lg-6-2:after{
		content:"";
		clear:both;
		display:block;
		width:100%;
		height:80px;
		background-color:#000;
		opacity:0.7;
		margin:-80px auto 0 auto;
		border-radius: 0 0 5px 5px;
	}
	.container .photo-link .col-lg-6-2 p.naming{
	position:absolute;
	bottom:25px;
	width:100%;
	text-align:center;
	margin:0 !important;
	color:#fff;
	z-index:1;
	font-size:15pt;
	}
	.container .photo-link .col-lg-6-3 {
		width:100%;
		margin:0 auto 20px auto;
	}
	.container .photo-link .col-lg-6-3 img {
		width:100%;
		height:400px;
		margin:auto;
	}
	.container .photo-link .col-lg-6-3:after{
		content:"";
		clear:both;
		display:block;
		width:100%;
		height:80px;
		background-color:#000;
		opacity:0.7;
		margin:-80px auto 0 auto;
		border-radius: 0 0 5px 5px;
	}
	.container .photo-link .col-lg-6-3 p.naming{
	position:absolute;
	bottom:25px;
	width:100%;
	text-align:center;
	margin:0 !important;
	color:#fff;
	z-index:1;
	font-size:15pt;
	}
	.container .photo-link .col-lg-6-5 {
		width:100%;
		margin:0 auto 20px auto;
	}
	.container .photo-link .col-lg-6-5 img {
		width:100%;
		height:400px;
		margin:auto;
	}
	.container .photo-link .col-lg-6-5:after{
		content:"";
		clear:both;
		display:block;
		width:100%;
		height:80px;
		background-color:#000;
		opacity:0.7;
		margin:-80px auto 0 auto;
		border-radius: 0 0 5px 5px;
	}
	.container .photo-link .col-lg-6-5 p.naming{
	position:absolute;
	bottom:25px;
	width:100%;
	text-align:center;
	margin:0 !important;
	color:#fff;
	z-index:1;
	font-size:15pt;
	}
	.container .col-lg-6-1 {
		width:100%;
		margin:0 auto 20px auto;
	}
	.container .col-lg-6-1 img {
		width:100%;
		height:400px;
		margin:auto;
	}
	.container .col-lg-6-1:after{
		content:"";
		clear:both;
		display:block;
		width:100%;
		height:80px;
		background-color:#000;
		opacity:0.7;
		margin:-80px auto 0 auto;
		border-radius: 0 0 5px 5px;
	}
	.container .col-lg-6-1 p.naming{
	position:absolute;
	bottom:25px;
	width:100%;
	text-align:center;
	margin:0 !important;
	color:#fff;
	z-index:1;
	font-size:15pt;
	}
	.container .pic-change-btns{
	width: auto;
	float: right;
	}
}

/* footer set */
.cs{
	float:left;
	margin-right:100px;
	position:relative;
	left:450px;
}
.cs li{
	color:#fff;
}
.cs2{
	width:700px;
	position:relative;
	left:550px;
	color:#fff;
}
/* noticeDetailView */
.bd{
	
}